.gitignore~
.gitignore

/nbproject/node_modules/*
/nbproject/
/nbproject/project.properties
/nbproject/*
/Config/*
lambdaweb/Config/*
lambdaweb/Config/configuration.yml
System/Tests/Config/configuration.yml
lambdaweb//Config/configuration.php
changeuser.sh
/System/Tests/Config/configuration.yml
moon.sublime-project
moon.sublime-workspace
System/Classes/Forms/report/
System/Classes/Forms/report/*
configuration.*
config.*
world/Config
world/Controllers
world/Forms
world/index.php
world/Modeles
world/Vues
world/Config/*
world/Controllers/*
world/Forms/*
world/Modeles/*
world/Vues/*
world
world/*
executables
executables/*
*.swp
..swo
*.swo
System/one
webgrind/
webgrind/config.php
webgrind/img
webgrind/index.php
webgrind/js
webgrind/library
webgrind/license.txt
webgrind/package.sh
webgrind/README.md
webgrind/styles
webgrind/templates
*.heb
world/Config/access.yml
world/Config/configuration.yml
world/Config/routes.yml
world/Config/configuration.yml.heb
manager/*
*.*~
