.gitignore~

/nbproject/node_modules/*
/nbproject/
/nbproject/project.properties
/nbproject/*
/Config/*
lambdaweb/Config/*
lambdaweb/Config/configuration.yml
System/Tests/Config/configuration.yml
lambdaweb//Config/configuration.php
changeuser.sh
/System/Tests/Config/configuration.yml
moon.sublime-project
moon.sublime-workspace
System/Classes/Forms/report/
System/Classes/Forms/report/*
configuration.*
config.*
