[submodule "moon-template"]
	path = moon-template
	url = git@github.com:lambda2/moon-template.git
[submodule "Templates/moon-template"]
	path = Templates/moon-template
	url = git@github.com:lambda2/moon-template.git
