.gitignore~
.gitignore

/nbproject/node_modules/*
/nbproject/
/nbproject/project.properties
/nbproject/*
/Config/*
lambdaweb/Config/*
lambdaweb/Config/configuration.yml
System/Tests/Config/configuration.yml
lambdaweb//Config/configuration.php
changeuser.sh
/System/Tests/Config/configuration.yml
moon.sublime-project
moon.sublime-workspace
System/Classes/Forms/report/
System/Classes/Forms/report/*
configuration.*
config.*
world/Config
world/Controllers
world/Forms
world/index.php
world/Modeles
world/Vues
world/Config/*
world/Controllers/*
world/Forms/*
world/Modeles/*
world/Vues/*
world
Templates/lambdaweb-template
Templates/moon-template
world/*
Templates/lambdaweb-template/*
Templates/moon-template/*
executables
executables/*
