{% extends webdata.template_extend %}

{% block nav_title %}
    <a class="brand" href="#">Moon</a>
{% endblock %}

                                    {% block right_container %}
    <div class="hero-unit">
        <h1>Moon Framework</h1>
        <p>A light and smart PHP Framework</p>
        <p><a href="https://github.com/lambda2/Moon" class="btn btn-primary btn-large">Fork us on Github &raquo;</a></p>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {% if webdata.info.stable %}
            <div class="alert alert-success alert-block">
            {% else %}
            <div class="alert alert-block">
            {% endif %}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Version {{ webdata.info.version }}</h4>
                {% if webdata.info.stable %}
                <p>Cette version est stable. Vous pouvez l'utiliser sans rencontrer de problèmes.</p>
                {% else %}
                <p>Cette version est instable et en cours de développement.. Utilisez la à vos risques et périls</p>
                {% endif %}
            </div>
        </div><!--/span-->
    </div><!--/row-->
    <div class="row-fluid">
        <div class="span4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="span4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="span4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!--/span-->
    </div><!--/row-->
{% endblock %}
