{% extends webdata.template_extend %}

{% block nav_title %}
<a class="brand" href="#">Moon</a>
{% endblock %}


                   {% block main_container %}<div class="row-fluid">
    <div class="jumbotron">
        <h1>Moon Framework</h1>
        <p>A light and smart PHP Framework</p>
        <p><a href="https://github.com/lambda2/Moon" class="btn btn-info btn-large">Fork us on Github &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="span12">
        <h2>Quels astres avons nous aujourd'hui ?</h2>
        {% for distance in distances %}
        <p>Nous avons une distance de {{ distance.distance }}, entre {{ distance.astre_depart }} et {{ distance.astre_fin }}!</p>
        {% endfor %}
        
    </div>
</div>
{% endblock %}
