{% include 'core.twig' %}
{% block footer %}
                                        <p>I'm a twig ! and roger is {{name}}</p>
                                        <p>WANT TO LOAD {{webdata.template_extend}}</p>
                        {% endblock %}
